/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fdfcf9;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    margin-right: 50px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
  }
  
  .nav-links li a:hover {
    color: gray;
  }
  